#app-footer {
    display: flex;
    font-size: 10px;
    color: white;
    background: rgb(10, 161, 60);
    background: linear-gradient(90deg, rgb(14, 134, 54) 0%, rgb(22, 136, 47) 69%);
}

.fade-in-footer {
    animation: opacfade 0.4s;
}
@keyframes opacfade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.footer-links {
    color: white;
    display: flex;
    flex-wrap: wrap;
}

.footer-links a {
    color: white;
}

.footer-link-element {
    padding-right: 20px;
}