<mat-toolbar id="app-footer" class="fade-in-footer">
  <mat-toolbar-row>
    <span>{{'footerMenu.footerTextMade' | translate}} </span>
    <fa-icon [icon]="faHeart" class="heart-icon"></fa-icon>
    <span>{{'footerMenu.footerTextBy' | translate}} a.dridi (github.com/a-dridi)</span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <div class="footer-links">
      <div class="footer-link-element">
        <a href="#">{{'footerMenu.footerPointGeneralNotice' | translate}}</a>
      </div>
      <div class="footer-link-element">
        <a href="#">{{'footerMenu.footerPointPrivacyPolicy' | translate}}</a>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
