<h3 class="subsiteTitle">{{'expense.submenuTitleTable' | translate}}</h3>
<br>
<p-dialog header="{{'expense.updateValueHeader' | translate}}" [(visible)]="displayUpdateValue"
  [style]="{width: '50vw'}">
  <div class="update-value-expense-title">
    {{currentlyUpdatingExpenseTitle}}
  </div>
  <div class="p-inputgroup wide-input-field">
    <span class="p-inputgroup-addon required-input-addon">
      <fa-icon [icon]="faEuroSign"></fa-icon>
    </span>
    <span class="p-float-label">
      <input id="updatedPrice" type="text" class="required-input large-text" [(ngModel)]="updatedExpenseValue"
        (ngModelChange)="onUpdatedPriceChange()" pInputText>
      <label for="updatedPrice">{{'expense.expenseAddPriceHeader' | translate}}</label>
    </span>
  </div>

  <ng-template pTemplate="footer">
    <button id="updatePriceButton" pButton (click)="saveUpdateValueDialog()" type="button" icon="pi pi-check" label="OK"
      class="p-button-success"></button>
  </ng-template>
</p-dialog>
<p-accordion>
  <p-accordionTab header="{{expensePartitionTabHeader}}">
    <div class="expense-separation">
      <div class="person-1-group">
        <div class="person-name">
          <span class="p-float-label">
            <input id="person1Name" class="" type="text" [(ngModel)]="selectedPerson1Name"
              (ngModelChange)="setPerson1Name($event)" pInputText>
            <label for="person1Name">{{'expense.person1NameTitle' | translate}}</label>
          </span>
        </div>
        <div class="person-ratio">
          <span class="p-float-label">
            <input id="person1Ratio" class="" type="text" [(ngModel)]="selectedPerson1Ratio"
              (ngModelChange)="setPerson1Ratio($event)" pInputText>
            <label for="person1Ratio">{{'expense.person1RatioTitle' | translate}}</label>
          </span>
        </div>
      </div>
      <div class="person-2-group">
        <div class="person-name">
          <span class="p-float-label">
            <input id="person2Name" class="" type="text" [(ngModel)]="selectedPerson2Name"
              (ngModelChange)="setPerson2Name($event)" pInputText>
            <label for="person2Name">{{'expense.person2NameTitle' | translate}}</label>
          </span>
        </div>
        <div class="person-ratio">
          <span class="p-float-label">
            <input id="person2Ratio" class="" type="text" [(ngModel)]="selectedPerson2Ratio"
              (ngModelChange)="setPerson2Ratio($event)" pInputText>
            <label for="person2Ratio">{{'expense.person2RatioTitle' | translate}}</label>
          </span>
        </div>
      </div>
      <div class="person-expense-calculate">
        <button pButton label=" " class="p-button-raised p-button-help" (click)="displayExpensesPartCalculation()">
          <fa-icon [icon]="faCalculator" class="button-icon"></fa-icon>
          <span>{{'expense.personExpenseCalculateButton' | translate}}</span>
        </button>
      </div>
      <div class="person-part-output">
        <div class="person-1-output">
          <span class="person-output-title">
            {{'expense.person1PartTitle' | translate}}
          </span>
          <span>{{person1SumPart | currency:selectedCurrency:'symbol':'1.2':localeOfUser}}</span>
        </div>
        <div class="person-2-output">
          <span class="person-output-title">
            {{'expense.person2PartTitle' | translate}}
          </span>
          <span>{{person2SumPart | currency:selectedCurrency:'symbol':'1.2':localeOfUser}}</span>
        </div>
      </div>
    </div>
  </p-accordionTab>
</p-accordion>
<br>
<br>
<div *ngIf="showExpenseReminder">
  <p-fieldset [toggleable]="true" styleClass="reminder-component" *ngIf="showExpenseReminder">
    <ng-template pTemplate="header"><span class="reminder-component-legend">{{expenseReminderTabHeader}}</span></ng-template>

    <p-table #expensereminderTable [columns]="reminderTableColumns" [value]="expensereminders"
      dataKey="expensereminderId" [paginator]="true" [rows]="3" [showCurrentPageReport]="true"
      totalRecords="{{expensereminderLength}}" currentPageReportTemplate="{first} - {last} / {totalRecords}"
      [rowsPerPageOptions]="[5,10,25,50,100]" [loading]="loading"
      styleClass="p-datatable-responsive-table p-datatable-striped p-datatable-sm" id="exp-reminder-table">

      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="{{reminderTableColumns[0].field}}">
            <div>
              <p-sortIcon field="{{reminderTableColumns[0].field}}" styleClass="reminder-sort-icon"></p-sortIcon> {{reminderTableColumns[0].header}}
            </div>
          </th>

          <th pSortableColumn="{{reminderTableColumns[1].field}}" class="medium-table-column">
            <div>
              <p-sortIcon field="{{reminderTableColumns[1].field}}"></p-sortIcon> {{reminderTableColumns[1].header}}
            </div>
          </th>

          <th>
            <div class="p-d-flex p-jc-between p-ai-center">
              <fa-icon [icon]="faWallet" class="reminder-icon"></fa-icon>
            </div>
          </th>

        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-expensereminderItem>
        <tr>
          <td>{{expensereminderItem.expense.title}}</td>
          <td>{{expensereminderItem.dueDate | date: 'dd.MM.yyyy':'UTC+3'}}</td>
          <td><button pButton type="button" icon="pi pi-check"
              class="p-button-rounded p-button-success reminder-payed-button"
              (click)="payExpenseReminder(expensereminderItem)"></button></td>
        </tr>
      </ng-template>

      <ng-template pTemplate="paginatorleft">
        <div class="p-d-flex">
          <button #csvExportButton type="button" pButton pRipple icon="pi pi-file-o"
            (click)="expensereminderTable.exportCSV()" class="p-mr-2" pTooltip="CSV" tooltipPosition="bottom"></button>
          <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportReminderExcel()"
            class="p-button-success p-mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
          <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportReminderPdf()"
            class="p-button-warning p-mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
        </div>
      </ng-template>

    </p-table>
  </p-fieldset>
</div>
<br>
<div class="elementGrid">
  <div class="elementHeader tableHeader">
    <div class="elementTopHeader">
      <div class="element-header-icon">
        <fa-icon [icon]="faTable"></fa-icon>
      </div>
      <div class="element-header-title">
        {{'expense.expensesTableTitle' | translate}} {{displayedDateString}}
      </div>
      <div class="element-header-selector">
        <button pButton pRipple (click)="displayExpensesPreviousMonth()" type="button" icon="pi pi-arrow-left"
          class="p-button-rounded p-button-secondary"> </button>
        <p-dropdown [options]="months" (onChange)="selectMonthExpenses($event.value)"
          (onClear)="clearMonthSelection($event)" placeholder="M" filter="true" [showClear]="true"
          [(ngModel)]="selectedMonth">
        </p-dropdown>
        <p-dropdown [options]="years" (onChange)="selectYearExpenses($event.value)"
          (onClear)="clearYearSelection($event)" placeholder="YYYY" filter="true" [showClear]="true"
          [(ngModel)]="selectedYear">
        </p-dropdown>
        <button pButton pRipple (click)="displayExpensesNextMonth()" type="button" icon="pi pi-arrow-right"
          class="p-button-rounded p-button-secondary"> </button>
      </div>
      <div class="element-header-button">
        <button pButton (click)="displayAllExpenses()" type="button" label=" "
          class="p-button-raised p-button-help">{{'expense.expensesTableAllExpensesButton' | translate}}</button>
      </div>
    </div>
  </div>
  <div class="elementContent">
    <div class="expenses-earnings-overview">
      <div class="overview-monthly">
        <span class="monthly-earnings">
          <fa-icon [icon]="faMoneyBillAlt" class="overview-expenses-icon"></fa-icon>
          {{'expense.expensesTableOverviewMonthlyEarnings' | translate}}:
          {{earningsMonthlySum | currency:selectedCurrency:'symbol':'1.2':localeOfUser}}
        </span>
        <span class="operator">
          -
        </span>
        <span class="monthly-expenses">
          <fa-icon [icon]="faMoneyBillAlt" class="overview-expenses-icon"></fa-icon>
          {{'expense.expensesTableOverviewMonthlyExpenses' | translate}}:
          {{expensesMonthlySum | currency:selectedCurrency:'symbol':'1.2':localeOfUser}}
        </span>
        <span class="equals">
          =
        </span>
        <span class="monthly-surplus">
          <fa-icon [icon]="faMoneyBillAlt" class="overview-expenses-icon"></fa-icon>
          {{surplusMonthlySum | currency:selectedCurrency:'symbol':'1.2':localeOfUser}}
        </span>
      </div>
      <div class="overview-yearly">
        <span class="yearly-earnings">
          <fa-icon [icon]="faMoneyBillAlt" class="overview-expenses-icon"></fa-icon>
          {{'expense.expensesTableOverviewYearlyEarnings' | translate}}:
          {{earningsYearlySum | currency:selectedCurrency:'symbol':'1.2':localeOfUser}}
        </span>
        <span class="operator">
          -
        </span>
        <span class="yearly-expenses">
          <fa-icon [icon]="faMoneyBillAlt" class="overview-expenses-icon"></fa-icon>
          {{'expense.expensesTableOverviewYearlyExpenses' | translate}}:
          {{expensesYearlySum | currency:selectedCurrency:'symbol':'1.2':localeOfUser}}
        </span>
        <span class="equals">
          =
        </span>
        <span class="yearly-surplus">
          <fa-icon [icon]="faMoneyBillAlt" class="overview-expenses-icon"></fa-icon>
          {{surplusYearlySum | currency:selectedCurrency:'symbol':'1.2':localeOfUser}}
        </span>
      </div>
      <div class="overview-average">
        <div class="monthly-average">
          <fa-icon [icon]="faMoneyBillAlt" class="overview-expenses-icon"></fa-icon>
          {{'expense.expensesTableHeaderAvgExpenses' | translate}}: ~
          {{expensesAverageSum | currency:selectedCurrency:'symbol':'1.2':localeOfUser}}
        </div>
      </div>
    </div>
    <p-table #dataTable [columns]="tableColumns" [value]="expenses" dataKey="expenseId" [paginator]="true" [rows]="10"
      [showCurrentPageReport]="true" totalRecords="{{expensesLength}}"
      currentPageReportTemplate="{first} - {last} / {totalRecords}" [rowsPerPageOptions]="[10,25,50,100,500]"
      [loading]="loading"
      [globalFilterFields]="['title','expenseCategory.categoryTitle','centValue','expenseTimerange.timerangeTitle','paymentDate','information']"
      styleClass="p-datatable-responsive-table p-datatable-striped">

      <ng-template pTemplate="caption">
        <div class="p-d-flex table-top">
          <div class="p-input-icon-left p-ml-auto">
            <button pButton label=" " class="p-button-warning p-button-rounded" (click)="restoreDeletedExpenses()">
              <fa-icon [icon]="faUndo" class="button-icon"></fa-icon>
              <span>{{'expense.expenseTableRestoreButton' | translate}}</span>
            </button>
          </div>
          <div class="p-input-icon-left p-ml-auto">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="dataTable.filterGlobal($event.target.value, 'contains')"
              placeholder="{{'global.tableSearchPlaceholder' | translate}}" class="search-input" />
          </div>
        </div>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th class="delete-table-column">
            <div>
            </div>
          </th>

          <th pSortableColumn="{{tableColumns[0].field}}" class="id-table-column">
            <div>
              <p-sortIcon field="{{tableColumns[0].field}}"></p-sortIcon> ID
            </div>
          </th>

          <th pSortableColumn="{{tableColumns[1].field}}" class="big-table-column">
            <div class="p-d-flex p-jc-between p-ai-center">
              <p-sortIcon field="{{tableColumns[1].field}}"></p-sortIcon> {{tableColumns[1].header}} <p-columnFilter
                type="text" field="{{tableColumns[1].field}}" display="menu" [showOperator]="false"></p-columnFilter>
            </div>
          </th>

          <th pSortableColumn="{{tableColumns[2].field}}">
            <div class="p-d-flex p-jc-between p-ai-center">
              <p-sortIcon field="{{tableColumns[2].field}}"></p-sortIcon>
              {{tableColumns[2].header}}
              <p-columnFilter field="{{tableColumns[2].field}}" matchMode="equals" display="menu"
                [showAddButton]="false" [showMatchModes]="false" [showOperator]="false">
                <ng-template pTemplate="header">
                  <div class="p-px-3 p-pt-3 p-pb-0">
                    <span class="p-text-bold">{{'messages.expensesTableCategorySelectHeader' | translate}}</span>
                  </div>
                </ng-template>
                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                  <p-dropdown [ngModel]="value" [options]="expenseCategoryTitles"
                    placeholder="{{'messages.filterSelectCategoryPlaceholder' | translate}}"
                    (onChange)="filter($event.value)">
                    <ng-template let-option pTemplate="item">
                      <div class="p-multiselect-representative-option">
                        <span class="p-ml-1">{{option}}</span>
                      </div>
                    </ng-template>
                  </p-dropdown>
                </ng-template>
              </p-columnFilter>
            </div>
          </th>

          <th pSortableColumn="{{tableColumns[3].field}}" class="medium-table-column">
            <div class="p-d-flex p-jc-between p-ai-center">
              <p-sortIcon field="{{tableColumns[3].field}}"></p-sortIcon> {{tableColumns[3].header}} <p-columnFilter
                type="text" field="{{tableColumns[3].field}}" display="menu" [showOperator]="false"></p-columnFilter>
            </div>
          </th>

          <th pSortableColumn="{{tableColumns[4].field}}" class="medium-larger-column">
            <div class="p-d-flex p-jc-between p-ai-center">
              <p-sortIcon field="{{tableColumns[4].field}}"></p-sortIcon>
              {{tableColumns[4].header}}
              <p-columnFilter field="{{tableColumns[4].field}}" matchMode="equals" display="menu"
                [showAddButton]="false" [showMatchModes]="false" [showOperator]="false">
                <ng-template pTemplate="header">
                  <div class="p-px-3 p-pt-3 p-pb-0">
                    <span class="p-text-bold">{{'messages.expensesTableTimerangeSelectHeader' | translate}}</span>
                  </div>
                </ng-template>
                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                  <p-dropdown [ngModel]="value" [options]="timerangeTranslationArray"
                    placeholder="{{'messages.filterSelectCategoryPlaceholder' | translate}}"
                    (onChange)="filter($event.value)">
                    <ng-template let-option pTemplate="item">
                      <div class="p-multiselect-representative-option">
                        <span class="p-ml-1">{{option}}</span>
                      </div>
                    </ng-template>
                  </p-dropdown>
                </ng-template>
              </p-columnFilter>
            </div>
          </th>

          <th pSortableColumn="{{tableColumns[5].field}}" class="medium-table-column">
            <div class="p-d-flex p-jc-between p-ai-center">
              <p-sortIcon field="{{tableColumns[5].field}}"></p-sortIcon> {{tableColumns[5].header}} <p-columnFilter
                type="text" field="{{tableColumns[5].field}}" display="menu" [showOperator]="false"></p-columnFilter>
            </div>
          </th>

          <th pSortableColumn="{{tableColumns[6].field}}">
            <div class="p-d-flex p-jc-between p-ai-center">
              <p-sortIcon field="{{tableColumns[6].field}}"></p-sortIcon> {{tableColumns[6].header}} <p-columnFilter
                type="text" field="{{tableColumns[6].field}}" display="menu" [showOperator]="false"></p-columnFilter>
            </div>
          </th>

          <th>
            <div class="p-d-flex p-jc-between p-ai-center">
              D
            </div>
          </th>

          <th>
            <div class="p-d-flex p-jc-between p-ai-center">
              <fa-icon [icon]="faBell" class="overview-expenses-icon"></fa-icon>
            </div>
          </th>

        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-expenseItem>
        <tr>
          <td><button pButton type="button" icon="pi pi-times"
              class="p-button-rounded p-button-danger table-delete-button"
              (click)="deleteExpense(expenseItem.expenseId)"></button></td>
          <td>{{expenseItem.expenseId}}</td>
          <td pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="expenseItem.title"
                  (ngModelChange)="updateExpenseValue($event, expenseItem, 'title')" (keydown.enter)="reloadAllExpensesData()" (blur)="reloadAllExpensesData()">
              </ng-template>
              <ng-template pTemplate="output">
                {{expenseItem.title}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <p-dropdown [options]="expenseCategoryTitles" [(ngModel)]="expenseItem.expenseCategory"
                  [style]="{'width':'100%'}" placeholder="expenseItem.expenseCategory" [filter]="true"
                  (ngModelChange)="updateExpenseValue($event, expenseItem, 'category')"></p-dropdown>
              </ng-template>
              <ng-template pTemplate="output">
                {{expenseItem.expenseCategory}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <button pButton pRipple type="button" icon="pi pi-sliders-v"
                  (click)="showUpdateValueDialog(expenseItem)" onclass="p-button-rounded p-button-warning"></button>
              </ng-template>
              <ng-template pTemplate="output">
                {{(expenseItem.centValue) | currency:selectedCurrency:'symbol':'1.2':localeOfUser}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <p-dropdown [options]="timerangeTranslationArray" [(ngModel)]="expenseItem.expenseTimerange"
                  [style]="{'width':'100%'}" placeholder="expenseItem.expenseTimerange" [filter]="true"
                  (ngModelChange)="updateExpenseValue($event, expenseItem, 'timerange')"></p-dropdown>
              </ng-template>
              <ng-template pTemplate="output">
                {{expenseItem.expenseTimerange}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <p-calendar [(ngModel)]="expenseItem.paymentDate" firstDayOfWeek="1" dateFormat="dd.mm.yy"
                  (ngModelChange)="updateExpenseValue($event, expenseItem, 'paymentDate')"
                  (blur)="reloadAllExpensesData()">
                </p-calendar>
              </ng-template>
              <ng-template pTemplate="output">
                {{expenseItem.paymentDate | date: 'dd.MM.yyyy':'UTC+3'}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="expenseItem.information"
                  (ngModelChange)="updateExpenseValue($event, expenseItem, 'information')" (keydown.enter)="reloadAllExpensesData()" 
                  (blur)="reloadAllExpensesData()">
              </ng-template>
              <ng-template pTemplate="output">
                {{expenseItem.information}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td *ngIf="expenseItem.attachment"><button pButton class="p-button-raised p-button-rounded"
              (click)="openAttachment(expenseItem.attachmentPath)" label=" " type="button"
              icon="pi pi-arrow-circle-down" iconPos="left"
              pTooltip="{{'messages.tableDownloadButtonTootlip' | translate}}" tooltipPosition="top"></button></td>
          <td *ngIf="expenseItem.attachment==false"></td>
          <td>
            <p-checkbox [(ngModel)]="expenseItem.isReminding"
              (ngModelChange)="updateExpenseValue($event, expenseItem, 'isReminding')" binary="true"></p-checkbox>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="paginatorleft">
        <div class="p-d-flex">
          <button #csvExportButton type="button" pButton pRipple icon="pi pi-file-o" (click)="dataTable.exportCSV()"
            class="p-mr-2" pTooltip="CSV" tooltipPosition="bottom"></button>
          <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()"
            class="p-button-success p-mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
          <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()"
            class="p-button-warning p-mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
        </div>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="5">{{'messages.expensesTableNoValues' | translate}}.</td>
        </tr>
      </ng-template>

    </p-table>
  </div>

</div>
<br>
<div class="elementGrid">
  <div class="elementHeader addHeader">
    <div class="elementTopHeader">
      <div class="element-header-icon">
        <fa-icon [icon]="faPlusCircle"></fa-icon>
      </div>
      <div class="element-header-title">
        {{'expense.expensesAddTitle' | translate}}
      </div>
    </div>
  </div>
  <div class="elementContent">
    <div class="p-col-12 p-md-12">
      <div class="p-inputgroup wide-input-field">
        <span class="p-inputgroup-addon required-input-addon">
          <fa-icon [icon]="faFont"></fa-icon>
        </span>
        <span class="p-float-label">
          <input id="title" class="required-input large-text" type="text" [(ngModel)]="title" pInputText>
          <label for="title">{{'expense.expenseAddTitleHeader' | translate}}</label>
        </span>
      </div>
    </div>

    <div class="p-col-12 p-md-12">
      <div class="p-inputgroup wide-input-field">
        <span class="p-inputgroup-addon required-input-addon">
          <fa-icon [icon]="faTags"></fa-icon>
        </span>
        <span class="p-float-label" #categoryselector>
          <p-dropdown inputId="selectCategory" class="required-dropdown" [options]="expenseCategories"
            [(ngModel)]="expenseCategory" (onChange)="reloadDropdown($event)" optionLabel="categoryTitle"
            [filter]="true" [style]="{'height': '43px', 'width': '100%'}" placeholder="   ">
          </p-dropdown>
          <label for="category">{{'expense.expenseAddCategoryHeader' | translate}}</label>
        </span>
      </div>
    </div>

    <div class="p-col-12 p-md-12">
      <div class="p-inputgroup wide-input-field">
        <span class="p-inputgroup-addon required-input-addon">
          <fa-icon [icon]="faEuroSign"></fa-icon>
        </span>
        <span class="p-float-label">
          <input id="price" type="text" class="required-input large-text" [(ngModel)]="value" pInputText>
          <label for="price">{{'expense.expenseAddPriceHeader' | translate}}</label>
        </span>
      </div>
    </div>

    <div class="p-col-12 p-md-12">
      <div class="p-inputgroup wide-input-field">
        <span class="p-inputgroup-addon required-input-addon">
          <fa-icon [icon]="faHistory"></fa-icon>
        </span>
        <span class="p-float-label" #timerangeselector>
          <p-dropdown inputId="timerange" class="required-dropdown" [options]="timerangeTranslationArray"
            [(ngModel)]="expenseTimerange" (onChange)="reloadDropdown($event)" [filter]="true"
            [style]="{'height': '43px', 'width': '100%'}" placeholder="   ">
          </p-dropdown>
          <label for="timerange">{{'expense.expenseAddTimerangeHeader' | translate}}</label>
        </span>
      </div>
    </div>

    <div class="p-col-12 p-md-12">
      <div class="p-inputgroup wide-input-field">
        <span class="p-inputgroup-addon">
          <fa-icon [icon]="faCalendarCheck"></fa-icon>
        </span>
        <span class="p-float-label">
          <p-calendar inputId="paymentdate" [(ngModel)]="paymentDate" firstDayOfWeek="1" dateFormat="dd.mm.yy"
            class="wide-input-field" [style]="{'height': '45px', 'width': '100%', 'font-size': '20px'}">
          </p-calendar>
          <label for="paymentdate">{{'expense.expenseAddPaymentHeader' | translate}}</label>
        </span>
      </div>
    </div>

    <div class="p-col-12 p-md-12">
      <div class="p-inputgroup wide-input-field">
        <span class="p-inputgroup-addon">
          <fa-icon [icon]="faInfo"></fa-icon>
        </span>
        <span class="p-float-label">
          <input id="information" type="text" class="large-text" [(ngModel)]="information" pInputText
            class="wide-input-field">
          <label for="information">{{'expense.expenseAddInformationHeader' | translate}}</label>
        </span>
      </div>
    </div>

    <div class="p-col-12 p-md-12">
      <input type="file" (change)="onExpenseAttachmentUpload($event)" name="expenseAttachment"
        class="form-fileupload" />
    </div>

    <div class="p-col-12 p-md-12">
      <p-checkbox [(ngModel)]="isReminding" binary="true" inputId="activateReminder" class="reminding-checkbox">
      </p-checkbox>
      <label for="activateReminder"><span class="reminder-icon-form">
          <fa-icon [icon]="faBell"></fa-icon>
        </span><span class="reminder-title-form">{{'expense.expenseAddReminderHeader' | translate}}</span></label>
    </div>

    <div class="p-col-12 p-md-12">
      <button pButton type="button" label=" " class="p-button-raised p-button-success save-button"
        (click)="saveExpense()">
        <div class="button-content">
          <fa-icon [icon]="faCheckSquare" class="button-icon"></fa-icon>
          {{'expense.expenseAddSaveExpense' | translate}}
        </div>
      </button>
    </div>

  </div>
</div>
<br>
<div class="elementGrid">
  <div class="elementHeader addcategoryHeader">
    <div class="elementTopHeader">
      <div class="element-header-icon">
        <fa-icon [icon]="faFolderPlus"></fa-icon>
      </div>
      <div class="element-header-title">
        {{'expense.categoryAddTitle' | translate}}
      </div>
    </div>
  </div>
  <div class="elementContent">
    <div class="p-col-12 p-md-12">
      <div class="p-inputgroup">
        <span class="p-float-label">
          <input id="addCategoryTitle" type="text" [(ngModel)]="newCategoryName" pInputText>
          <label for="addCategoryTitle">{{'expense.categoryAddCategoryField' | translate}}</label>
        </span>
        <button id="addCategoryButton" type="button" pButton pRipple class="category-add-button p-button-success"
          label=" " (click)="addExpenseCategory()">
          <fa-icon [icon]="faPlus" class="button-icon"></fa-icon>
          <span class="input-side-button">{{'expense.categoryAddButton' | translate}}</span>
        </button>
      </div>
    </div>
  </div>
</div>
<br>
<div class="elementGrid">
  <div class="elementHeader editcategoryHeader">
    <div class="elementTopHeader">
      <div class="element-header-icon">
        <fa-icon [icon]="faTags"></fa-icon>
      </div>
      <div class="element-header-title">
        {{'expense.categoryEditTitle' | translate}}
      </div>
    </div>
  </div>
  <div class="elementContent">

    <div class="p-col-12 p-md-12">
      <div class="wide-input-field">
        <span class="p-float-label">
          <p-dropdown inputId="editCategorySelector" [options]="expenseCategories"
            [(ngModel)]="editSelectedExpenseCategory" optionLabel="categoryTitle" [filter]="true"
            [style]="{'height': '45px', 'width': '100%'}" placeholder="  ">
          </p-dropdown>
          <label for="editCategorySelector">{{'expense.categoryEditCategorySelect' | translate}}</label>
        </span>
      </div>
    </div>

    <div class="p-col-12 p-md-12">
      <div class="p-inputgroup wide-input-field">
        <span class="p-inputgroup-addon">
          <fa-icon [icon]="faArrowRight"></fa-icon>
          <span class="edit-category-new-info">{{'expense.categoryEditCategoryNewInfo' | translate}}</span>
        </span>
        <span class="p-float-label">
          <p-dropdown inputId="updatedCategory" [options]="expenseCategories" [(ngModel)]="updatedExpenseCategory"
            optionLabel="categoryTitle" [filter]="true" [style]="{'height': '45px', 'width': '100%'}" placeholder="  ">
          </p-dropdown>
          <label for="category">{{'expense.categoryEditCategoryNew' | translate}}</label>
        </span>
        <button type="button" pButton pRipple class="category-update-button p-button-success" label=" "
          (click)="updateCategories()">
          <fa-icon [icon]="faRetweet" class="button-icon"></fa-icon>
          <span class="input-side-button">{{'expense.categoryEditCategoryNewChangeButton' | translate}}</span>
        </button>
      </div>
    </div>
  </div>
</div>

<br>
<div class="elementGrid">
  <div class="elementHeader updateAttachmentHeader">
    <div class="elementTopHeader">
      <div class="element-header-icon">
        <fa-icon [icon]="faPaperclip"></fa-icon>
      </div>
      <div class="element-header-title">
        {{'expense.attachmentUpdateHeaderTitle' | translate}}
      </div>
    </div>
  </div>
  <div class="elementContent">
    <div class="p-col-12 p-md-12">
      <div class="p-inputgroup wide-input-field">
        <span class="p-inputgroup-addon">
          <fa-icon [icon]="faTable"></fa-icon>
        </span>
        <span class="p-float-label">
          <input id="updateAttachmentId" type="text" [(ngModel)]="updatedAttachmentId" pInputText>
          <label for="updateAttachmentId">{{'expense.attachmentUpdateIdField' | translate}}</label>
        </span>
      </div>
    </div>

    <div class="p-col-12 p-md-12">
      <input type="file" (change)="onExpenseAttachmentUpload($event)" name="expenseAttachment"
        class="form-fileupload" />
    </div>

    <div class="p-col-12 p-md-12">
      <button pButton type="button" label=" " class="p-button-raised p-button-success save-button"
        (click)="updateExpenseAttachment()">
        <div class="button-content">
          <fa-icon [icon]="faRetweet" class="button-icon"></fa-icon>
          {{'expense.attachmentUpdateButton' | translate}}
        </div>
      </button>
    </div>
  </div>
</div>
