button {
    span {
        margin-inline-end: 5px !important;
    }
}

.noteBottomDisplay {
    margin: 10px 0px;
    display: flex;
    flex-wrap: wrap;

    div {
        margin-bottom: 5px;
        margin-inline-end: 5px;
    }

    div:last-child {
        margin-top: 1px;
    }
}

.last-update-display {
    margin-inline-start: 5px;
    vertical-align: middle;
}
