<div class="content-container">
  <h2 class="site-title">{{'bookModule.title' | translate}}</h2>
  <app-noteeditor [noteTable]="noteTableName" [height]="noteHeight"></app-noteeditor>
  <br>
  <br>
  <p-tabView styleClass="tabview-submenu">
    <p-tabPanel header="BookTable" cache="false">
      <ng-template pTemplate="header">
        <fa-icon [icon]="faTable"></fa-icon>
        <span class="tab-header">{{'bookModule.submenuTitleTable' | translate}}</span>
      </ng-template>
      <ng-template pTemplate="content">
        <app-book-table></app-book-table>
      </ng-template>
    </p-tabPanel>
    <p-tabPanel header="BookGraph" cache="false">
      <ng-template pTemplate="header">
        <fa-icon [icon]="faClipboardList"></fa-icon>
        <span class="tab-header">{{'bookModule.submenuTitleGraph' | translate}}</span>
      </ng-template>
      <ng-template pTemplate="content">
        <app-book-graph></app-book-graph>
      </ng-template>
    </p-tabPanel>
  </p-tabView>
</div>
