.p-datatable-wrapper {
    overflow-y: scroll;
}

.loss-value {
    color: red;
    font-weight: bold;
}

.win-value {
    color: green;
}

:host ::ng-deep {
    .p-datatable-responsive-table .p-datatable-tbody>tr>td .p-column-title {
        display: none;
    }
}

@media screen and (max-width: 40rem) {
    :host ::ng-deep {
        .p-datatable {
            &.p-datatable-responsive-table {

                .p-datatable-thead>tr>th,
                .p-datatable-tfoot>tr>td {
                    display: none !important;
                }

                .p-datatable-tbody>tr>td {
                    text-align: left;
                    display: block;
                    width: 100%;
                    float: left;
                    clear: left;
                    border: 0 none;

                    .p-column-title {
                        padding: 0.4rem;
                        min-width: 30%;
                        display: inline-block;
                        margin: -0.4em 1em -0.4em -0.4rem;
                        font-weight: bold;
                    }

                    &:last-child {
                        border-bottom: 1px solid var(--surface-d);
                    }
                }
            }
        }
    }
}

.elementTopHeader {
    display: flex;
}

.element-header-icon {
    flex-grow: 0.1;
    vertical-align: middle !important;
    line-height: 40px;
    font-size: 22px;
    text-align: center;
}

.element-header-title {
    flex-grow: 8.9;
    vertical-align: middle !important;
    line-height: 40px;
    font-size: 18px;
    padding: 0px 5px;
}

@media screen and (min-width: 600px) {
    .id-table-column {
        width: 130px !important;
    }

    .small-table-column {
        width: 100px !important;
    }

    .medium-table-column {
        width: 140px !important;
    }

    .big-table-column {
        width: 350px !important;
    }

    .medium-larger-column {
        width: 180px !important;
    }
}

.budgettable-sum-line {
    background: #000000!important;
    color: #f8fbff!important;
    font-weight: bolder!important;
    text-transform: uppercase !important;
}

/* RTL support */
.p-paginator .p-dropdown .p-dropdown-label {
    padding-right: unset !important;
    padding-inline-end: 0 !important;
}