.dmt-first-row {
    display: flex;
}

input::-webkit-input-placeholder {
    padding-left: 6px;
    font-size: 17px !important;
}
input:-moz-placeholder {
    padding-left: 6px !important;
    font-size: 17px !important;
}
input::-moz-placeholder {
    padding-left: 6px !important;
    font-size: 17px !important;
}
input:-ms-input-placeholder {
    padding-left: 6px;
    font-size: 17px !important;
}

.input-small {
    width: 100% !important;
    width: -moz-available !important;
    width: -webkit-fill-available !important;
    width: fill-available !important;
}

.large-text {
    font-size: 20px !important;
}

.button-icon {
    margin-right: 10px !important;
}

.edit-category-new-info {
    margin-left: 4px;
    word-break: break-word;
}

.seperated-input-group {
    margin-top: 15px;
}

@media screen and (max-width: 600px) {
    .edit-category-new-info,
    .input-side-button {
        display: none;
    }
}

.elementTopHeader {
    display: flex;
    flex-wrap: wrap;
    @media screen and (max-width: 645px) {
        div {
            margin-bottom: 7px;
        }
    }
}

.element-header-icon {
    flex-grow: 0.1;
    vertical-align: middle !important;
    line-height: 40px;
    font-size: 22px;
    text-align: center;
}

.element-header-title {
    flex-grow: 8.9;
    vertical-align: middle !important;
    line-height: 40px;
    font-size: 18px;
    padding: 0px 5px;
}

.dmt-points-rows {
    display: flex;
    column-gap: 5px;
    margin-bottom: 5px;
}

.dmt-first-row {
    display: flex;
    column-gap: 5px;
    margin-bottom: 5px;
}

.first-row-item {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.criteria-input {
    width: 200px !important;
}

.weighting-input {
    width: 100px !important;
    word-break: break-all;
}

.points-input input {
    width: 80px !important;
}

.total-input {
    width: 70px;
    background-color: #f3f3f3;
    font-weight: bold;
}

.option-title {
    width: 170px;
    word-break: break-all;
}

.points-row-item {
    display: flex;
}

.largest-sum {
    text-decoration: underline;
    border-style: dashed;
    color: green !important;
}

.totals-sums,
.dmt-sum-row {
    display: flex;
}

.sum-output {
    width: 88px;
}

.option-text {
    padding: 15px 15px 0px 10px;
}

.p-float-label > p-dropdown {
    width: 100% !important;
}

.option-selected-title {
    font-weight: bolder;
    color: green;
    text-decoration: underline;
}
.option-selected-header {
    padding-right: 5px;
}
