.user-settings-subtext {
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}

.p-inputgroup {
    div {
        display: flex;
        flex-wrap: wrap;
    }
}

.settings-entry-title {
    margin-inline-start: 5px !important;
    padding-inline-start: 5px !important;
}

@media screen and (min-width: 600px) {
    .user-settings-form {
        margin-bottom: 700px;
    }
}
