.elementTopHeader {
    display: flex;
}

.element-header-icon {
    flex-grow: 0.1;
    vertical-align: middle !important;
    line-height: 40px;
    font-size: 22px;
    text-align: center;
}

.element-header-title {
    flex-grow: 9;
    vertical-align: middle !important;
    line-height: 40px;
    font-size: 18px;
    padding: 0px 5px;
}

/* RTL support */
.p-paginator .p-dropdown .p-dropdown-label {
    padding-right: unset !important;
    padding-inline-end: 0 !important;
}