<h3 class="subsiteTitle">{{'videoclip.subTitle' | translate}}</h3>
<br>
<div class="elementGrid">
  <div class="elementHeader tableHeader">
    <div class="elementTopHeader">
      <div class="element-header-icon">
        <fa-icon [icon]="faTable"></fa-icon>
      </div>
      <div class="element-header-title">
        {{'videoclip.tableTitle' | translate}}
      </div>
    </div>
  </div>
  <div class="elementContent">
    <p-table #dataTable [columns]="tableColumns" [value]="videoclips" dataKey="videoclipId" [paginator]="true"
      [rows]="10" [showCurrentPageReport]="true" totalRecords="{{videoclips.length}}"
      currentPageReportTemplate="{first} - {last} / {totalRecords}" [rowsPerPageOptions]="[10,25,50,100,500]"
      [loading]="loading"
      [globalFilterFields]="['interpreter','videoTitle','videoclipLanguage.languageTitle','yearDate','nativeTitle','linkValue']"
      styleClass="p-datatable-responsive-table p-datatable-striped">

      <ng-template pTemplate="caption">
        <div class="p-d-flex table-top">
          <div class="p-input-icon-left p-ml-auto">
            <button pButton label=" " class="p-button-warning p-button-rounded" (click)="restoreDeletedVideoclips()">
              <fa-icon [icon]="faUndo" class="button-icon"></fa-icon>
              <span>{{'videoclip.videoclipTableRestoreButton' | translate}}</span>
            </button>
          </div>
          <div class="p-input-icon-left p-ml-auto">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="dataTable.filterGlobal($event.target.value, 'contains')"
              placeholder="{{'global.tableSearchPlaceholder' | translate}}" />
          </div>
        </div>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th class="delete-table-column">
            <div>
            </div>
          </th>

          <th pSortableColumn="{{tableColumns[0].field}}" class="id-table-column">
            <div>
              <p-sortIcon field="{{tableColumns[0].field}}"></p-sortIcon> ID
            </div>
          </th>

          <th pSortableColumn="{{tableColumns[1].field}}" class="big-table-column">
            <div class="p-d-flex p-jc-between p-ai-center">
              <p-sortIcon field="{{tableColumns[1].field}}"></p-sortIcon> {{tableColumns[1].header}} <p-columnFilter
                type="text" field="{{tableColumns[1].field}}" display="menu" [showOperator]="false"></p-columnFilter>
            </div>
          </th>

          <th pSortableColumn="{{tableColumns[2].field}}" class="very-big-table-column">
            <div class="p-d-flex p-jc-between p-ai-center">
              <p-sortIcon field="{{tableColumns[2].field}}"></p-sortIcon> {{tableColumns[2].header}} <p-columnFilter
                type="text" field="{{tableColumns[2].field}}" display="menu" [showOperator]="false"></p-columnFilter>
            </div>
          </th>

          <th pSortableColumn="{{tableColumns[3].field}}" class="medium-table-column">
            <div class="p-d-flex p-jc-between p-ai-center">
              <p-sortIcon field="{{tableColumns[3].field}}"></p-sortIcon>
              {{tableColumns[3].header}}
              <p-columnFilter field="{{tableColumns[3].field}}" matchMode="equals" display="menu"
                [showAddButton]="false" [showMatchModes]="false" [showOperator]="false">
                <ng-template pTemplate="header">
                  <div class="p-px-3 p-pt-3 p-pb-0">
                    <span class="p-text-bold">{{'messages.videoclipsTableLanguageSelectHeader' | translate}}</span>
                  </div>
                </ng-template>
                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                  <p-dropdown [ngModel]="value" [options]="videoclipLanguages"
                    placeholder="{{'messages.filterSelectCategoryPlaceholder' | translate}}"
                    (onChange)="filter($event.value.languageTitle)" optionLabel="languageTitle">
                    <ng-template let-option pTemplate="item">
                      <div class="p-multiselect-representative-option">
                        <span class="p-ml-1">{{option.languageTitle}}</span>
                      </div>
                    </ng-template>
                  </p-dropdown>
                </ng-template>
              </p-columnFilter>
            </div>
          </th>

          <th pSortableColumn="{{tableColumns[4].field}}" class="id-table-column">
            <div class="p-d-flex p-jc-between p-ai-center">
              <p-sortIcon field="{{tableColumns[4].field}}"></p-sortIcon> {{tableColumns[4].header}} <p-columnFilter
                type="text" field="{{tableColumns[4].field}}" display="menu" [showOperator]="false"></p-columnFilter>
            </div>
          </th>

          <th pSortableColumn="{{tableColumns[5].field}}">
            <div class="p-d-flex p-jc-between p-ai-center">
              <p-sortIcon field="{{tableColumns[5].field}}"></p-sortIcon> {{tableColumns[5].header}} <p-columnFilter
                type="text" field="{{tableColumns[5].field}}" display="menu" [showOperator]="false"></p-columnFilter>
            </div>
          </th>

          <th pSortableColumn="{{tableColumns[6].field}}">
            <div class="p-d-flex p-jc-between p-ai-center">
              <p-sortIcon field="{{tableColumns[6].field}}"></p-sortIcon> {{tableColumns[6].header}} <p-columnFilter
                type="text" field="{{tableColumns[6].field}}" display="menu" [showOperator]="false"></p-columnFilter>
            </div>
          </th>

        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-videoclipItem>
        <tr>
          <td><button pButton type="button" icon="pi pi-times"
              class="p-button-rounded p-button-danger table-delete-button"
              (click)="deleteVideoclip(videoclipItem.videoclipId)"></button></td>
          <td>{{videoclipItem.videoclipId}}</td>
          <td pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="videoclipItem.interpreter"
                  (ngModelChange)="updateVideoclipValue($event, videoclipItem, 'interpreter')">
              </ng-template>
              <ng-template pTemplate="output">
                {{videoclipItem.interpreter}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="videoclipItem.videoTitle"
                  (ngModelChange)="updateVideoclipValue($event, videoclipItem, 'videoTitle')">
              </ng-template>
              <ng-template pTemplate="output">
                {{videoclipItem.videoTitle}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <p-dropdown [options]="videoclipLanguageTitles" [(ngModel)]="videoclipItem.videoclipLanguage"
                  [style]="{'width':'100%'}" placeholder="videoclipItem.videoclipLanguage" [filter]="true"
                  (ngModelChange)="updateVideoclipValue($event, videoclipItem, 'videoclipLanguage')"></p-dropdown>
              </ng-template>
              <ng-template pTemplate="output">
                {{videoclipItem.videoclipLanguage}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="videoclipItem.yearDate"
                  (ngModelChange)="updateVideoclipValue($event, videoclipItem, 'yearDate')">
              </ng-template>
              <ng-template pTemplate="output">
                {{videoclipItem.yearDate}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="videoclipItem.nativeTitle"
                  (ngModelChange)="updateVideoclipValue($event, videoclipItem, 'nativeTitle')">
              </ng-template>
              <ng-template pTemplate="output">
                {{videoclipItem.nativeTitle}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="videoclipItem.linkValue"
                  (ngModelChange)="updateVideoclipValue($event, videoclipItem, 'linkValue')">
              </ng-template>
              <ng-template pTemplate="output">
                {{videoclipItem.linkValue}}
              </ng-template>
            </p-cellEditor>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="paginatorleft">
        <div class="p-d-flex">
          <button #csvExportButton type="button" pButton pRipple icon="pi pi-file-o" (click)="dataTable.exportCSV()"
            class="p-mr-2" pTooltip="CSV" tooltipPosition="bottom"></button>
          <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()"
            class="p-button-success p-mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
          <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()"
            class="p-button-warning p-mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
        </div>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="5">{{'messages.videoclipTableNoValues' | translate}}.</td>
        </tr>
      </ng-template>

    </p-table>
  </div>
</div>
<br>
<div class="elementGrid">
  <div class="elementHeader addHeader">
    <div class="elementTopHeader">
      <div class="element-header-icon">
        <fa-icon [icon]="faPlusCircle"></fa-icon>
      </div>
      <div class="element-header-title">
        {{'videoclip.videoclipAddHeader' | translate}}
      </div>
    </div>
  </div>
  <div class="elementContent">

    <div class="p-col-12 p-md-12">
      <div class="p-inputgroup wide-input-field">
        <span class="p-inputgroup-addon">
          <fa-icon [icon]="faUserAlt"></fa-icon>
        </span>
        <span class="p-float-label">
          <input id="interpreter" class="large-text" type="text" [(ngModel)]="interpreter" pInputText>
          <label for="interpreter">{{'videoclip.videoclipAddInterpreterHeader' | translate}}</label>
        </span>
      </div>
    </div>


    <div class="p-col-12 p-md-12">
      <div class="p-inputgroup wide-input-field">
        <span class="p-inputgroup-addon required-input-addon">
          <fa-icon [icon]="faFont"></fa-icon>
        </span>
        <span class="p-float-label">
          <input id="title" class="required-input large-text" type="text" [(ngModel)]="videoTitle" pInputText>
          <label for="title">{{'videoclip.videoclipAddVideoTitleHeader' | translate}}</label>
        </span>
      </div>
    </div>

    <div class="p-col-12 p-md-12">
      <div class="p-inputgroup wide-input-field">
        <span class="p-inputgroup-addon">
          <fa-icon [icon]="faGlobe"></fa-icon>
        </span>
        <span class="p-float-label" #languageselector>
          <p-dropdown inputId="language" class="" [options]="videoclipLanguages" [(ngModel)]="videoclipLanguage"
            (onChange)="reloadDropdown($event)" optionLabel="languageTitle" [filter]="true"
            [style]="{'height': '43px', 'width': '100%'}" placeholder="   ">
          </p-dropdown>
          <label for="language">{{'videoclip.videoclipAddVideoclipLanguageHeader' | translate}}</label>
        </span>
      </div>
    </div>

    <div class="p-col-12 p-md-12">
      <div class="p-inputgroup wide-input-field">
        <span class="p-inputgroup-addon">
          <fa-icon [icon]="faCalendarDay"></fa-icon>
        </span>
        <span class="p-float-label">
          <input id="year" type="text" class="large-text" [(ngModel)]="yearDate" pInputText>
          <label for="year">{{'videoclip.videoclipAddYearDateHeader' | translate}}</label>
        </span>
      </div>
    </div>

    <div class="p-col-12 p-md-12">
      <div class="p-inputgroup wide-input-field">
        <span class="p-inputgroup-addon">
          <fa-icon [icon]="faAtlas"></fa-icon>
        </span>
        <span class="p-float-label">
          <input id="nativetitle" type="text" class="large-text" [(ngModel)]="nativeTitle" pInputText
            class="wide-input-field">
          <label for="nativetitle">{{'videoclip.videoclipAddNativeTitleHeader' | translate}}</label>
        </span>
      </div>
    </div>

    <div class="p-col-12 p-md-12">
      <div class="p-inputgroup wide-input-field">
        <span class="p-inputgroup-addon">
          <fa-icon [icon]="faLink"></fa-icon>
        </span>
        <span class="p-float-label">
          <input id="link" type="text" class="large-text" [(ngModel)]="linkValue" pInputText class="wide-input-field">
          <label for="link">{{'videoclip.videoclipAddLinkValueHeader' | translate}}</label>
        </span>
      </div>
    </div>

    <div class="p-col-12 p-md-12">
      <button pButton type="button" label=" " class="p-button-raised p-button-success save-button" (click)="saveVideoclip()">
        <div class="button-content">
          <fa-icon [icon]="faCheckSquare" class="button-icon"></fa-icon>
          {{'videoclip.videoclipAddSaveVideoclip' | translate}}
        </div>
      </button>
    </div>
  </div>
</div>
<br>
<div class="elementGrid">
  <div class="elementHeader addcategoryHeader">
    <div class="elementTopHeader">
      <div class="element-header-icon">
        <fa-icon [icon]="faFolderPlus"></fa-icon>
      </div>
      <div class="element-header-title">
        {{'videoclip.languageAddTitle' | translate}}
      </div>
    </div>
  </div>
  <div class="elementContent">
    <div class="p-col-12 p-md-12">
      <div class="p-inputgroup">
        <span class="p-float-label">
          <input id="addVideoclipLanguageTitle" type="text" [(ngModel)]="newLanguageName" pInputText>
          <label for="addVideoclipLanguageTitle">{{'videoclip.languageAddCategoryField' | translate}}</label>
        </span>
        <button id="addVideoclipLanguageButton" type="button" pButton pRipple class="category-add-button p-button-success"
          label=" " (click)="addVideoclipLanguage()">
          <fa-icon [icon]="faPlus" class="button-icon"></fa-icon>
          <span class="input-side-button">{{'videoclip.languageAddButton' | translate}}</span>
        </button>
      </div>
    </div>
  </div>
</div>
<br>
<div class="elementGrid">
  <div class="elementHeader editcategoryHeader">
    <div class="elementTopHeader">
      <div class="element-header-icon">
        <fa-icon [icon]="faTags"></fa-icon>
      </div>
      <div class="element-header-title">
        {{'videoclip.languageEditTitle' | translate}}
      </div>
    </div>
  </div>
  <div class="elementContent">

    <div class="p-col-12 p-md-12">
      <div class="wide-input-field">
        <span class="p-float-label">
          <p-dropdown inputId="editLanguageSelector" [options]="videoclipLanguages"
            [(ngModel)]="editSelectedVideoLanguage" optionLabel="languageTitle" [filter]="true"
            [style]="{'height': '45px', 'width': '100%'}" placeholder="  ">
          </p-dropdown>
          <label for="editLanguageSelector">{{'videoclip.languageEditLanguageSelect' | translate}}</label>
        </span>
      </div>
    </div>

    <div class="p-col-12 p-md-12">
      <div class="p-inputgroup wide-input-field">
        <span class="p-inputgroup-addon">
          <fa-icon [icon]="faArrowRight"></fa-icon>
          <span class="edit-category-new-info">{{'videoclip.languageEditLanguageNewInfo' | translate}}</span>
        </span>
        <span class="p-float-label">
          <p-dropdown inputId="selectLanguage" [options]="videoclipLanguages" [(ngModel)]="updatedVideoLanguage"
            optionLabel="languageTitle" [filter]="true" [style]="{'height': '45px', 'width': '100%'}" placeholder="  ">
          </p-dropdown>
          <label for="selectLanguage">{{'videoclip.languageEditLanguageNew' | translate}}</label>
        </span>
        <button type="button" pButton pRipple class="category-update-button p-button-success" label=" "
          (click)="updateLanguages()">
          <fa-icon [icon]="faRetweet" class="button-icon"></fa-icon>
          <span class="input-side-button">{{'videoclip.languageEditLanguageNewChangeButton' | translate}}</span>
        </button>
      </div>
    </div>
  </div>
</div>

<br>
